{% extends 'base.html' %}
{% load static %}
{% block title %}主机添加{% endblock %}
{% block css %}{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            任务管理
            <small>dashboard</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">任务管理</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    资产录入
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <fieldset>
                                <legend>添加任务</legend>
                                <form role="form" method="post" id="addAssets" class="main form-horizontal" novalidate>


                                    <input
                                        type="hidden" name="csrfmiddlewaretoken"
                                        value="OfKFOVffIkrAun6BmIk9VEy4QSh1QryBFdwtxkRirXxHvD05GBcgxJmbl0RiB5uO">
                                    <fieldset>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{ form.name.label }}</label>
                                            <div class="col-sm-6">
                                                {{ form.name }}
                                                {{ form.name.errors }}
                                            </div>
                                        </div>



                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">{{ form.task.label }}</label>
                                            <div class="col-sm-6">
                                                {{ form.task }}
                                                {{ form.task.errors }}
                                            </div>
                                        </div>


                                         <div class="form-group">
                                            <label class="col-sm-2 control-label">{{ form.every.label }}</label>
                                            <div class="col-sm-6">
                                                {{ form.every }}
                                                {{ form.name.errors }}
                                            </div>
                                        </div>




                                    </fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <button type="reset" class="btn btn-danger">撤销操作</button>
                                        <button type="submit" class="btn btn-info" onclick="addAssetsData(this)">
                                            确认提交
                                        </button>
                                    </div>

                                </form>
                            </fieldset>
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>








{% endblock %}

{% block script %}

{% endblock %}