<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好豆网爬虫统计图</title>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

</head>
<body>
<div style="width: 900px;margin: auto">
    <div id="www_success" style="height:400px;margin-top: 20px;">
    </div>
     <div id="www_error" style="height:400px;margin-top: 20px;">
    </div>

     <div id="m_success" style="height:400px;margin-top: 20px;">
    </div>
     <div id="m_error" style="height:400px;margin-top: 20px;">
    </div>



</div>





<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    $.ajax({
        type: "GET",
        //data:{"week":"2019-09-01","yester_day":"2019-09-04"},
        url: "http://127.0.0.1:8000/asset/api_spider",

        dataType: "json",
        success: function (data) {
            www_success = echarts.init(document.getElementById('www_success'));
            www_error = echarts.init(document.getElementById('www_error'));
            m_success = echarts.init(document.getElementById('m_success'));
            m_error = echarts.init(document.getElementById('m_error'));

             www_success_option = {
                title: {
                    text: data[0].title + "成功",

                },
                tooltip: {
                    trigger: 'axis'
                },

                legend: {
                    data: data[0].success_legend
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data[0].time
                },
                yAxis: {
                    type: 'value'
                },
                series: data[0].success_data
            };


             www_error_opiton= {
                title: {
                    text: data[0].title + "错误",

                },
                tooltip: {
                    trigger: 'axis'
                },

                legend: {
                    data: data[0].error_legend
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data[0].time
                },
                yAxis: {
                    type: 'value'
                },
                series: data[0].error_data
            };


               m_success_option = {
                title: {
                    text: data[1].title + "成功",

                },
                tooltip: {
                    trigger: 'axis'
                },

                legend: {
                    data: data[1].success_legend
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data[0].time
                },
                yAxis: {
                    type: 'value'
                },
                series: data[1].success_data
            };


               m_error_option = {
                title: {
                    text: data[1].title + "错误",

                },
                tooltip: {
                    trigger: 'axis'
                },

                legend: {
                    data: data[1].error_legend
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data[1].time
                },
                yAxis: {
                    type: 'value'
                },
                series: data[1].error_data
            };

            www_success.setOption(www_success_option);
            www_error.setOption(www_error_opiton);
            m_success.setOption(m_success_option);
            m_error.setOption(m_error_option);

        }
    });

    // 指定图表的配置项和数据


</script>





</body>
</html>