{% extends 'base.html' %}
{% load static %}
{% block title %}主机添加{% endblock %}
{% block css %}{% endblock %}
  <script src="{% static 'layer/layer.js' %}"}></script>


{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            主机添加

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">主机添加</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

<script>

layer.alert('test')

</script>


{% endblock %}


{% block script %}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="{% static 'layer/layer.js' %}"}></script>
{% endblock %}
gll